# Tutorial 2 - Filtering and Sorting with Expressions

Welcome to the Filtering & Sorting Tutorial.
You will learn how to filter and sort requested data with the help of *IBM SMF Explorer*.

## Getting started

Initialize a Context for the dataset that you want to work with.

In [1]:
import smfexplorer
from datetime import datetime, time
from smfexplorer.fields import SMF70S1
import pandas as pd

DATASET = "YOUR.SMF.DATA"

ctx = smfexplorer.new_context(DATASET)

In [2]:
# fetching full data
df_not_filtered = ctx.samples.lpar_information().run()
display(df_not_filtered)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CF22,,<NA>,CF22-,1,1
2,2019-07-25 00:29:35.070,J80,CF3,,<NA>,CF3-,2,6
3,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
4,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
...,...,...,...,...,...,...,...,...
247,2019-07-25 05:59:35.080,J80,JJ0,<NA>,<NA>,<NA>,24,0
248,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35
249,2019-07-25 05:59:35.080,J80,CT1,<NA>,<NA>,<NA>,26,0
250,2019-07-25 05:59:35.080,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
251,2019-07-25 05:59:35.080,J80,PHYSICAL,<NA>,<NA>,<NA>,0,167

## Filtering the data by using ```of_system()``` and ```in_time()```

In the previous tutorial, you learned how to fetch data by using ```request()``` or ```samples()``` functions. These functions fetch all the records of the specific type and subtype available in the data set. You might want to limit the records of some specific systems or to some specific time range to reduce the data requested.

You can limit the fetched data to a single system by calling ```of_system(SYSTEM_NAME)``` before calling ```run()```. This function call retrieves only records of the system ```J80```:

In [3]:
# fetching data from a specific system
df_filtered = ctx.samples.lpar_information().of_system('J80').run()
display(df_filtered)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CF22,,<NA>,CF22-,1,1
2,2019-07-25 00:29:35.070,J80,CF3,,<NA>,CF3-,2,6
3,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
4,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
...,...,...,...,...,...,...,...,...
247,2019-07-25 05:59:35.080,J80,JJ0,<NA>,<NA>,<NA>,24,0
248,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35
249,2019-07-25 05:59:35.080,J80,CT1,<NA>,<NA>,<NA>,26,0
250,2019-07-25 05:59:35.080,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
251,2019-07-25 05:59:35.080,J80,PHYSICAL,<NA>,<NA>,<NA>,0,167

You can also limit the fetched data by time. Limit the entries to be between to ```2019-07-25 01:18:36.830``` and ```2019-07-25 03:59:35.200``` with the ```in_time()``` function of SMF Explorer. First, we define two ```pandas``` datetime objects for the filter:

In [7]:
datetime_from = pd.to_datetime('2019-07-25 01:18:36.830')
datetime_to = pd.to_datetime('2019-07-25 03:59:35.200')

In [9]:
df_filtered_time = ctx.samples.lpar_information().in_time(datetime_from, datetime_to).run()
display(df_filtered_time)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 01:18:36.830,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 01:18:36.830,J80,CF22,,<NA>,CF22-,1,1
2,2019-07-25 01:18:36.830,J80,CF3,,<NA>,CF3-,2,6
3,2019-07-25 01:18:36.830,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
4,2019-07-25 01:18:36.830,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
...,...,...,...,...,...,...,...,...
79,2019-07-25 03:59:35.200,J80,JJ0,<NA>,<NA>,<NA>,24,0
80,2019-07-25 03:59:35.200,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35
81,2019-07-25 03:59:35.200,J80,CT1,<NA>,<NA>,<NA>,26,0
82,2019-07-25 03:59:35.200,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
83,2019-07-25 03:59:35.200,J80,PHYSICAL,<NA>,<NA>,<NA>,0,167

Concatenating ```of_system()``` and ```in_time()``` is also possible:

In [10]:
df_filtered_time = ctx.samples.lpar_information().of_system('J80').in_time(datetime_from, datetime_to).run()
display(df_filtered_time)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 01:18:36.830,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 01:18:36.830,J80,CF22,,<NA>,CF22-,1,1
2,2019-07-25 01:18:36.830,J80,CF3,,<NA>,CF3-,2,6
3,2019-07-25 01:18:36.830,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
4,2019-07-25 01:18:36.830,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
...,...,...,...,...,...,...,...,...
79,2019-07-25 03:59:35.200,J80,JJ0,<NA>,<NA>,<NA>,24,0
80,2019-07-25 03:59:35.200,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35
81,2019-07-25 03:59:35.200,J80,CT1,<NA>,<NA>,<NA>,26,0
82,2019-07-25 03:59:35.200,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
83,2019-07-25 03:59:35.200,J80,PHYSICAL,<NA>,<NA>,<NA>,0,167

## Filtering 

The *IBM SMF Explorer* uses the built-in operators of python for filtering purposes.

As discussed in the previous tutorial (see *Tutorial 1 - Basics*), we provide functions that can be used in a request chain. 
One such function is ``where()``, which can be used to filter the returned data.
The ``where()`` function is given an expression which uses the python operators.

> **Note**: you can also do filtering using pandas (see [pandas documentation](https://pandas.pydata.org/docs/) and *Tutorial 3* for more exmaples).
> The advantage of using the ``where()`` method is that the *IBM SMF Explorer* can use the provided information to reduce the amount of data that is extracted from the underlying dataset.
> Consequently, performance is increased and network load reduced.

Expressions available:

Expression| Description
:---|:---
``>`` | Greater than 
``>=`` | Greater than or equal to 
``<`` | Less than 
``<=`` | Less than or equal to 
``==`` | Equal to 
``!=`` | Not equal to

In the following example, we use ``where()`` to narrow down our result to the cases where a LPAR has more than one processor available:

In [3]:
# fetching reduced data
df_filtered = ctx.samples.lpar_information().where(SMF70S1.lpar_cpu_count > 1).run()
display(df_filtered)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CF3,,<NA>,CF3-,2,6
2,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
3,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
4,2019-07-25 00:29:35.070,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
...,...,...,...,...,...,...,...,...
103,2019-07-25 05:59:35.080,J80,VMLX01,LTICVM2,<NA>,VMLX01-LTICVM2,14,32
104,2019-07-25 05:59:35.080,J80,VMLX02,,<NA>,VMLX02-,15,12
105,2019-07-25 05:59:35.080,J80,JD0,<NA>,UTCPLXJ8,<NA>,22,32
106,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35
107,2019-07-25 05:59:35.080,J80,PHYSICAL,<NA>,<NA>,<NA>,0,167

With *IBM SMF Explorer* we can compare fields as well:

In [4]:
# fetching reduced data based on field comparison
df_fields = (
    ctx.samples.lpar_information().where(SMF70S1.lpar_name == SMF70S1.system_name).run()
)
display(df_fields)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
2,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
3,2019-07-25 00:29:35.070,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
4,2019-07-25 00:29:35.070,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
...,...,...,...,...,...,...,...,...
58,2019-07-25 05:59:35.080,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
59,2019-07-25 05:59:35.080,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
60,2019-07-25 05:59:35.080,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
61,2019-07-25 05:59:35.080,J80,TPN,TPN,UTCPLXJ8,TPN-TPN,8,8
62,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35

### Logical operators

For more complex conditions *IBM SMF Explorer* has three logical expressions:

Expression| Description
:---|:---
 ``&`` | Logical AND
``\|`` | Logical OR
 ``~`` | Logical NOT

Chaining multiple `where()` calls is equivalent to a logical **and**.

Below, we are fetching instances **where** LPAR name is identical to system name **and** the LPAR CPU count is larger than 5.

In [5]:
# use chaining of where()
ctx.samples.lpar_information().where(SMF70S1.lpar_name == SMF70S1.system_name).where(
    SMF70S1.lpar_cpu_count > 5
).run()

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
2,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
3,2019-07-25 00:29:35.070,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
4,2019-07-25 00:29:35.070,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
...,...,...,...,...,...,...,...,...
58,2019-07-25 05:59:35.080,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
59,2019-07-25 05:59:35.080,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
60,2019-07-25 05:59:35.080,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
61,2019-07-25 05:59:35.080,J80,TPN,TPN,UTCPLXJ8,TPN-TPN,8,8
62,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35

In [6]:
# use AND expression instead of where() chaining
ctx.samples.lpar_information().where(
    (SMF70S1.lpar_name == SMF70S1.system_name) & (SMF70S1.lpar_cpu_count > 5)
).run()

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,J80,J80,UTCPLXJ8,J80-J80,7,88
1,2019-07-25 00:29:35.070,J80,CT2,CT2,CT2PLEX,CT2-CT2,3,15
2,2019-07-25 00:29:35.070,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
3,2019-07-25 00:29:35.070,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
4,2019-07-25 00:29:35.070,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
...,...,...,...,...,...,...,...,...
58,2019-07-25 05:59:35.080,J80,JA0,JA0,UTCPLXJ8,JA0-JA0,4,84
59,2019-07-25 05:59:35.080,J80,JE0,JE0,UTCPLXJ8,JE0-JE0,5,9
60,2019-07-25 05:59:35.080,J80,JH0,JH0,UTCPLXJ8,JH0-JH0,6,46
61,2019-07-25 05:59:35.080,J80,TPN,TPN,UTCPLXJ8,TPN-TPN,8,8
62,2019-07-25 05:59:35.080,J80,Z2,Z2,ZPETPLX2,Z2-Z2,25,35

The following example shows the usage of the logical **or** expression.

In [7]:
ctx.samples.lpar_information().where(
    (SMF70S1.lpar_cpu_count == 5) | (SMF70S1.lpar_cpu_count == 6)
).run()

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,CF3,,<NA>,CF3-,2,6
1,2019-07-25 00:59:35.200,J80,CF3,,<NA>,CF3-,2,6
2,2019-07-25 01:18:36.830,J80,CF3,,<NA>,CF3-,2,6
3,2019-07-25 03:29:35.270,J80,CF3,,<NA>,CF3-,2,6
4,2019-07-25 03:59:35.200,J80,CF3,,<NA>,CF3-,2,6
5,2019-07-25 04:29:35.160,J80,CF3,,<NA>,CF3-,2,6
6,2019-07-25 04:59:35.070,J80,CF3,,<NA>,CF3-,2,6
7,2019-07-25 05:29:35.150,J80,CF3,,<NA>,CF3-,2,6
8,2019-07-25 05:59:35.080,J80,CF3,,<NA>,CF3-,2,6

## Sorting

For sorting purposes, *IBM SMF Explorer* uses the chain method `sort()`, which takes any number of sort expressions.
A sort expression is created with the help of `ASC` and `DESC` functions from the `smfexplorer` module.
`ASC` and `DESC` tell  *IBM SMF Explorer* to sort a given field in ascending or descending order respectively.
The sorting importance is driven by the order of sort expressions given to `sort()` (i.e., the first expression is the most important).
The default sort order, when nothing has been explicitly specified, is `ASC`.
 *IBM SMF Explorer* sorts some fields (e.g., timestamp) by default.
Any sorting condition that you specify, has a higher priority than the default behaviour.

In [12]:
from smfexplorer import ASC, DESC

# sort from the lowest value to the highest value of lpar_cpu_count
# head() function prints first 5 rows of the table
display(ctx.samples.lpar_information().sort(ASC(SMF70S1.lpar_cpu_count)).run().head())

# sort from the highest value to the lowest value of lpar_number
display(ctx.samples.lpar_information().sort(DESC(SMF70S1.lpar_number)).run().head())

# sort records ascendingly by lpar_cpu_count and then descendingly by lpar_number
display(
    ctx.samples.lpar_information()
    .sort(ASC(SMF70S1.lpar_cpu_count), DESC(SMF70S1.lpar_number))
    .run()
    .head(5)
)

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 05:59:35.080,J80,Z4,<NA>,<NA>,<NA>,10,0
1,2019-07-25 03:29:35.270,J80,ZG5,<NA>,<NA>,<NA>,21,0
2,2019-07-25 03:29:35.270,J80,JI0,<NA>,<NA>,<NA>,23,0
3,2019-07-25 03:29:35.270,J80,JJ0,<NA>,<NA>,<NA>,24,0
4,2019-07-25 05:29:35.150,J80,RCELNX21,<NA>,<NA>,<NA>,12,0

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 04:59:35.070,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
1,2019-07-25 05:59:35.080,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
2,2019-07-25 00:29:35.070,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
3,2019-07-25 04:29:35.160,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1
4,2019-07-25 00:59:35.200,J80,ISKLMLX1,,<NA>,ISKLMLX1-,27,1

,timestamp,sid,lpar_name,system_name,sysplex_name,lpar_system_name,lpar_number,lpar_cpu_count
0,2019-07-25 00:29:35.070,J80,CT1,<NA>,<NA>,<NA>,26,0
1,2019-07-25 00:59:35.200,J80,CT1,<NA>,<NA>,<NA>,26,0
2,2019-07-25 01:18:36.830,J80,CT1,<NA>,<NA>,<NA>,26,0
3,2019-07-25 03:29:35.270,J80,CT1,<NA>,<NA>,<NA>,26,0
4,2019-07-25 03:59:35.200,J80,CT1,<NA>,<NA>,<NA>,26,0